// COLORS
$color-primary: #ff5817 ;
$text-color: #5e6363 ;
$title-color: #040e0e ;
$link-color: #4573ab ;

// Container
$width-container: 1200px;
$p-container: 30px;

// FONTS
$font-stack: 'Roboto', sans-serif;
