.brends__row{
  align-items: center;
}
.strengths__list{
  @include list-unstyled();
  display: flex;
  align-items: center;
}
.strengths__inner{
  background-color: #e2e5ea ;
  border-radius: 10px;
  padding: 30px 20px;
  margin: 40px 0;
}
.strenghts__item{
  @include flex-center();
  flex-direction: column;
}
.str__imgbox{
  background-color: #fff;
  border-radius: 50%;
  padding: 30px;
  margin-bottom: 20px;

  img{
    height: 54px;
    width: 54px;
    object-fit: cover;
  }
}
.str__desc{
  font-size: 12px;
  text-align: center;
}