.brends__row{
  align-items: center;
}
.strengths__list{
  @include list-unstyled();
  display: flex;
  align-items: center;
}
.strengths__inner{
  background-color: #e2e5ea ;
  border-radius: 10px;
  padding: 30px 20px;
  margin: 40px 0;
}
.strenghts__item{
  @include flex-center();
  flex-direction: column;
}
.str__imgbox{
  background-color: #fff;
  border-radius: 50%;
  padding: 30px;
  margin-bottom: 20px;

  img{
    height: 54px;
    width: 54px;
    object-fit: cover;
  }
}
.str__desc{
  font-size: 12px;
  text-align: center;
}

.company__does{
  padding: 20px;

    &--red{
      .div__box{
        border-radius: 10px;
        border: 2px solid #f6bdbf;
      }
      .does__top{
        background-color: #cb0b12 ;
      }
    }
    &--green{
      .div__box{
        border-radius: 10px;
        border: 2px solid #9bd0a5 ;
      }
      .does__top{
        background-color: #16a332  ;
      }
    }
}


.does__top{
  display: flex;
  align-items: center;
  padding: 20px 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

    .bx{
      font-size: 36px;
      color: #fff;
      margin-right: 10px;
    }
}
.does__list{
  padding: 20px 40px;
}
.does__title{
  font-size: 15px;
  color: #fff;
}
.numbers__item{
  @include flex-center();
  flex-direction: column;
}
.item__num{
  font-size: 40px;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 30px;
  margin-bottom: 20px;
}
.numbers{
  margin: 40px 0;
}
.numbers__item:nth-child(2n){
  .item__num{
    color: $color-primary;
  }
}
.about__inner{
  padding-top: 30px;
  border-top: 1px solid #ddd;
}
.does__item{
  margin-bottom: 10px;
}
.about__text{
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
}
.about{
  margin: 70px 0 30px 0;
    .title{
      margin-bottom: 20px;
    }
}