.news{
  padding-right: 40px;
}
.news__maintitle{
  font-size: 22px;
  color: #2c3333;
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-weight: 300;
  border-bottom: #dbdee6 1px solid;
}
.news__item{
  display: flex;
  align-items: center;
  padding: 15px 0 40px 0;
  border-bottom: #dbdee6 1px solid;
}
.news__imgbox{
  margin-right: 20px;
  position: relative;

  img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }
}
.desc__num{
  color: $color-primary;
  font-size: 20;
  background-color: #fff;
  font-weight: 500;
  padding: 5px;
  border-radius: 3px;
}
.desc__text{
  @include text-style();
  color: $title-color;
}
.imgbox__desc{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 70%;
  left: 50%;
  transform: translate(-50%,0%);
}
.news__title{
  font-size: 13px;
  color: $link-color;
}
.news__par{
  font-size: 13px;
}
.slider__text{
  border-radius: 10px;
  background: #e3e5eb;
  text-align: center;
  font-size: 14px;
  padding: 10px 5px;
  margin-bottom: 20px;

    span{
      color: $link-color;
      font-weight: 600;
    }
}
.slider-img{
  border-radius: 10px;
}
@media screen and (max-width: 960px){
  .imgbox__desc{
    top: 60%;

  
  }
  .news__item{
    padding-bottom: 20px;
  }
  .desc__num{
    font-size: 16px;
  }
  .news__title{
    font-size: 11px;
  }
  .news__par{
    font-size: 11px;
  }
  .hero{
    margin-top: 30px;
  }
  .news{
    padding-right: 10px;
  }
  .news__maintitle{
    font-size: 18px;
  }
  .slider__text{
    font-size: 12px;
  }
}
@media screen and (max-width: 540px){
  .hero{
    display: none;
  }
}